<div class="center hero-unit">
  <h1>Welcome to TJ's One Month Rails App!</h1>
  <p>
    You've found the home page of TJ's build of the 
    <%= link_to "One Month Rails", "http://onemonthrails.com" %>
    sample application.
  </p>

  <p>
    <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-primart" %>
  </p>
</div>

 