<h1>Pages#home</h1>
<p>
  You've found the home page of TJ's build of the 
  <%= link_to "One Month Rails", "http://onemonthrails.com" %>
  sample application.
</p>

<p>
  <%= link_to "Sign Up Now!", '#' %>
</p>

